<mat-card>
<h1>Printer add</h1>

<form  class="printer-add-form">

<mat-form-field>
    <input matInput placeholder="Name" [formControl]="name">
    <mat-error *ngIf="name.invalid">
        {{getErrorMessage()}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Ip"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Connection type">
      <mat-option value="option">Socket</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>


  <mat-form-field>
      <textarea matInput placeholder="Location"></textarea>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Status">
        <mat-option value="option">Disabled</mat-option>
        <mat-option value="option">Enabled</mat-option>
      </mat-select>
    </mat-form-field>

    <p>
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit()" class="app-sidebar-button">
          <mat-icon class="example-icon">add_circle</mat-icon>
          Save
        </button>
    </p>

  </form>
  </mat-card>