       
                <mat-toolbar>
                  <mat-toolbar-row>
                    <span>Printers</span>
                    <span class="app-toolbar-filler"></span>
                    <mat-icon class="print">print</mat-icon>

                  </mat-toolbar-row>
            

                  <mat-toolbar-row>
                        <button mat-raised-button color="accent" routerLink="/add" class="app-sidebar-button">
                                <mat-icon class="example-icon">add</mat-icon>
                                ADD
                              </button>
                  </mat-toolbar-row>

                  <mat-toolbar-row>
                        <button mat-raised-button routerLink="/" color="accent" class="app-sidebar-button">
                                <mat-icon class="example-icon">reorder</mat-icon>
                                LIST
                        </button>
                  </mat-toolbar-row>
            
            
                </mat-toolbar>
  