<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="app-container">



<mat-sidenav-container  [class.m2app-dark]="isDarkTheme" class="sidenav-container" fullscreen>
        <mat-toolbar>
                <button mat-icon-button class="top-toolbar" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
                <span>Printer Panel Sample Application</span>
        </mat-toolbar>

    <mat-sidenav #snav mode="over" class="app-sidenav" color="primary">
        <app-nav></app-nav>
    </mat-sidenav>

    <router-outlet></router-outlet>
</mat-sidenav-container>
</div>