        <h1>Printers List</h1>
    
        <mat-table #table [dataSource]="printers">

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let printer"> {{printer.name}} </mat-cell>
                </ng-container>
            
   
                <ng-container matColumnDef="ip">
                  <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
                  <mat-cell *matCellDef="let printer"> {{printer.ip}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let printer"> {{printer.description}} </mat-cell>
                </ng-container>
            

                <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                        <mat-cell *matCellDef="let printer"> {{printer.location}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="connection">
                        <mat-header-cell *matHeaderCellDef> Connection Type </mat-header-cell>
                        <mat-cell *matCellDef="let printer"> {{printer.connection}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell *matCellDef="let printer">
                       <mat-icon *ngIf="printer.status == 1;else notactive;">done</mat-icon>
                       <ng-template #notactive><mat-icon>clear</mat-icon></ng-template>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let printer">
                                <button mat-raised-button color="accent" routerLink="/add" class="app-sidebar-button">
                                    <mat-icon class="example-icon">mode_edit</mat-icon>
                                    Edit
                                  </button>

                                <button mat-raised-button color="accent" routerLink="/add" class="app-sidebar-button">
                                    <mat-icon class="example-icon">delete</mat-icon>
                                    Remove
                                  </button>
                        </mat-cell>
                </ng-container>
      

  
                <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
</mat-table>

